<main>
    <h1>Profile Statistics</h1>
    <div class="stats-grid">
        <div class="stat-card">
            <i class="fas fa-user"></i>
            <p>User</p>
            <h2>0</h2>
        </div>
        <div class="stat-card">
            <i class="fa-solid fa-phone"></i>
            <p>Generate Number</p>
            <h2>0</h2>
        </div>
        <div class="stat-card">
            <i class="fas fa-sms"></i>
            <p>Succesfully get SMS</p>
            <h2>1</h2>
        </div>
    </div>
  
</main>
        