<div class="navbar">
    <div class="logo">
        <div class="sidebar-header">
            <h2>Temp Number</h2>
        </div>    
    </div>
    <div class="navbar-icons">
        <i class="fa fa-search"></i>
        <div class="notification">
            <i class="fa fa-bell"></i>
            <span class="badge">3</span>
        </div>
        <i class="fa fa-cog"></i>
        <img src="path/to/user.png" class="user-icon" alt="User">
    </div>
</div>
    