<aside class="sidebar">
    
    <!-- Profile Section -->
    <!-- <div class="profile-section">
        <img src="/images/profile.jpg" alt="User Profile">
        <p class="username">Admin Name</p>
    </div> -->

    <nav>
        <ul>
            <li class="active">
                <a href="/admin/dashboard"><i class="fas fa-tachometer-alt"></i> Dashboard</a>
            </li>
            <!-- <li><a href="/admin/user/add"><i class="fas fa-user"></i>add User</a></li> -->
            <li><a href="/admin/customer/list"><i class="fas fa-user"></i>User</a></li>
                      
            <li><a href="/admin/number"><i class="fa-solid fa-phone"></i> Generated number 
             </a></li>
            
        </ul>
    </nav>
</aside>

