<!-- navbar -->
<nav class="navbar navbar-expand-lg bg-white shadow-sm" >
    <div class="container">
      <!-- Logo -->
      <a class="navbar-brand d-flex align-items-center" href="/index.html">
        <img src="/assets/image/logo.png" alt="Temp Number" class="logo me-2">
        <div>
          <strong>Temp Number</strong>
          <p class="mb-0 small text-muted">receive sms online</p>
        </div>
      </a>
      <button class="navbar-toggler" type="button"2 data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto align-items-center">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Product</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/index.html#feature">Features</a></li>
              <li><a class="dropdown-item" href="/index.html#how-it-works">How it works</a></li>
              <li><a class="dropdown-item" href="/index.html#simcard">RealSim vs Virtual</a></li>
              <li><a class="dropdown-item" href="/index.html#usecase">Use Case</a></li>
              <li><a class="dropdown-item" href="/index.html#enterprise">Enterprise</a></li>
              <li><a class="dropdown-item" href="/index.html#feedback">Customer Stories</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Resources</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/index.html#faq">FAQ</a></li>
              <li><a class="dropdown-item" href="/index.html#download">Download</a></li>
              <!-- <li><a class="dropdown-item" href="#help">Help Center</a></li> -->
            </ul>
          </li>
          <li class="nav-item"><a class="nav-link" href="/index.html#api">API</a></li>
          <li class="nav-item"><a class="nav-link" href="/index.html#partnership">Partnership</a></li>
          <li class="btn nav-item dropdown">
            <a class="nav-link dropdown-toggle rounded lang border" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">English</a>
            <ul class="dropdown-menu" aria-labelledby="languageDropdown">
              <li><a class="dropdown-item" href="#">English</a></li>
              <li><a class="dropdown-item" href="#">Arabic</a></li>
              <li><a class="dropdown-item" href="#">Chinese</a></li>
              <li><a class="dropdown-item" href="#">Portuguese</a></li>
              <li><a class="dropdown-item" href="#">Spanish</a></li>
              <li><a class="dropdown-item" href="#">Russian</a></li>
              <li><a class="dropdown-item" href="#">Turkish</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="btn btn-primary rounded p-2" href="/routes/try_now.html">Try now →</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<!-- scroll-up -->
<button class="scroll-up-btn" id="scrollToTopBtn">
    <img src="/assets/image/arrow.png" alt="Up">
  </button>
